@import "./partials/variables";
@import"./partials/reset";
@import"./partials/header";
@import "./partials/mains";
@import "./partials/footer";
@import "./partials/carrousel";
@import"./partials/bodys";



/*  font-family: 'Anton', sans-serif;
font-family: 'Black Ops One', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Qwitcher Grypen', cursive; */
