.index-header {
    background-color: #31AC55;
    margin:1rem;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;



    .logolargo{

    }

    .menu-section{

    }

    .logocorto{
        
    }
}

