* {padding: 0;
margin: 0;
box-sizing: border-box;
list-style-type: none;
font-family: 'Josefin Sans', sans-serif;
}

h1{
    font-family: 'Dancing Script', cursive;
}

h2{
    font-family:  'Dancing Script', cursive ;
}

h3{
    font-family: 'Qwitcher Grypen', cursive;
}

h4{
    font-family: 'Quicksand', sans-serif;
}


img {
    width: 200px;

}